body {
  background-color: #04a6eb;
  color: #fdffff;
  width: 500px;
  margin: 0 auto;
}

button {
  padding: 5px 20px;
  background-color: #3279b8;
  border-style: none;
  color: #fdffff;
}

input {
  height: 21px;
}
